<section class="contact">
  <ul>
      <img [src]="avatarProps"
          alt="avatar"
          class="avatar"
          [routerLink]="['/details', idProps]"
      >
    <li><strong>{{ nameProps }}</strong></li>
    <li>{{ telProps }}</li>
    <li>
      <button [routerLink]="['/form', idProps]">
        <img src="../../../assets/pencil-square.png" alt="Editar">
      </button>
      <button [routerLink]="['/details', idProps]">
        <img src="../../../assets/trash.png" alt="Excluir">
      </button>
    </li>
  </ul>
</section>
