<app-container>
  <app-header></app-header>

    <input type="search" placeholder="Digite para buscar"
    [(ngModel)]="filterTextSearch"
    />

    <section class="adicionar-contato">
      <button routerLink="/adicionar">
        <img src="../../../assets/plus.png" alt="Ir para formulário adicionar">
        <span>Adicionar contato</span>
      </button>
    </section>

    @for(letter of alphabet; track letter){
      <app-spacer>
        {{ letter }}
      </app-spacer>
      @for (contact of filterContactByInitialLetter(letter); track contact.id) {
      <app-contact
        [nameProps]="contact.nome"
        [telProps]="contact.celular"
        [idProps]="contact.id"
        ></app-contact>
      }
    }
</app-container>
