<app-container>
  <header>
    <section class="cabecalho-link">
      <h1>Detalhes Contato</h1>
    </section>
    <section class="voltar">
      <button routerLink="/listar">
        <img src="../../../assets/arrow-left.png" alt="Voltar">
        <span>Voltar</span>
      </button>
    </section>
    <section class="cabecalho-contato">
      <img src="../../../assets/perfil-contato.png" alt="Detalhes contato">
    </section>
  </header>

  <section class="perfil">
    <div class="imagem-perfil">
      <img [src]="contact.avatar" alt="Avatar do contato" class="imagem-container">
      <h2><strong>{{ contact.nome }}</strong></h2>
    </div>
    <app-spacer></app-spacer>
    <ul>
      <li>
        <i class="material-icons">phone_iphone</i>
        <strong>Celular</strong>
      </li>
      <li>{{ contact.celular }}</li>
      <li>
        <i class="material-icons">mail</i>
        <strong>Email</strong>
      </li>
      <li>{{ contact.email }}</li>
      <li>
        <i class="material-icons">event</i>
        <strong>Data de nascimento</strong>
      </li>
      <li>{{ contact.aniversario }}</li>
      <li>
        <i class="material-icons">group</i>
        <strong>Redes sociais</strong>
      </li>
      <li>{{ contact.redes }}</li>
      <li>
        <i class="material-icons">info</i>
        <strong>Observações</strong>
      </li>
      <li>{{ contact.observacoes }}</li>
    </ul>
    <div class="botoes">
      <button (click)="deleteContact()" class="botao-excluir">
        Excluir contato
      </button>
      <button class="botao-editar"
      [routerLink]="['/form', contact.id]"
      >
        Editar
      </button>
    </div>
  </section>

</app-container>

