<app-container>
  <header>
    <section class="cabecalho-link">
      <h1>Adicionar Contato</h1>
    </section>
    <section class="cabecalho-contato">
      <img src="../../../assets/adicionar-contato.png" alt="Adicionar contato">
    </section>
  </header>

  <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
    <label for="nome">Nome</label>
    <input type="text" id="nome" placeholder="Digite o nome aqui"
    formControlName="nome"
    />

    <label for="telefone">Telefone</label>
    <input type="text" id="telefone" placeholder="Digite o telefone aqui"
    formControlName="telefone"
    />

    <label for="email">E-mail</label>
    <input type="email" id="email" placeholder="Digite o email aqui"
    formControlName="email"
    />

    <app-spacer></app-spacer>

    <label for="aniversario">Aniversário</label>
    <input type="date" id="aniversario" placeholder="Data de Nascimento"
    formControlName="aniversario"
    />

    <label for="redes">Redes sociais</label>
    <div class="input-container">
      <span class="span-http">http://</span>
      <input type="text" id="redes" placeholder="Adicione a URL da página"
      formControlName="redes"
    />
    </div>

    <label for="observacoes">Observações</label>
    <textarea type="text"
      id="observacoes"
      placeholder="Campo observações, exemplo, instrutora da academia, amiga da Júlia"
      formControlName="observacoes"
      ></textarea>

      <section class="botoes">
        <button (mouseover)="cancel()" class="botao-cancelar" type="button">Cancelar</button>
        <button class="botao-salvar" type="submit">Salvar contato</button>
      </section>

  </form>
</app-container>
